{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatiable" content="IE-edge">
        <title>Restaurant</title>
        <link rel="stylesheet" href="{% static 'css/globalstyle.css' %}">
        <link rel="stylesheet" href="{% static 'css/components.css' %}">
        <!-- aos css -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    </head>
    <body>
        <!-- Nav Section -->
  <div class="nav">
    <div class="container">
      <div class="nav__wrapper">
        <a href="{% static './index.html' %}" class="logo">
          <img src="{% static './images/logo.svg' %}" alt="shaif's cuisine">
        </a>
        <nav>
          <div class="nav__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-menu">
              <line x1="3" y1="12" x2="21" y2="12" />
              <line x1="3" y1="6" x2="21" y2="6" />
              <line x1="3" y1="18" x2="21" y2="18" />
            </svg>
          </div>
          <div class="nav__bgOverlay"></div>
          <ul class="nav__list show">
            <div class="nav__close">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
              </svg>
            </div>
            <div class="nav__list__wrapper">

              <li><a class="nav__link" href="{% static './index.html' %}">Home</a></li>
              <li><a class="nav__link" href="{% static './menu.html' %}">Menu</a></li>
              <li><a class="nav__link" href="{% static './about.html' %}">About</a></li>
              <li><a class="nav__link" href="{% static './contact.html' %}">Contact</a></li>
              <li><a href="{% static './booking.html' %}" class="btn primary-btn">Book Table</a></li>
            </div>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- End Nav Section -->
        <!-- aos script -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            const navIconEl = document.querySelector('.nav__icon');
            const navcloseEl = document.querySelector('.nav__close');
            const navList = document.querySelector('.nav__list');
            const overBgOverlayEl = document.querySelector('.nav__bgOverlay');

            const navOpen = () => {
                navList.classList.add('show');
                navBgOverlayEl.classList.add('active');
                document.body.style = 'visibility: visible; hight: 100vh; width:100vw; overflow: hidden;'
            }

            const navClose = () => {
                navList.classList.remove('show');
                navBgOverlayEl.classList.remove('active');
                document.body.style = 'visiblity: visible; height: initial; width: 100%; overflow-x: hidden';
            }

            navIconEl.addEventListener('click', navopen);
            navCloseEl.addEventListener('click', navClose);
            navBgOverlayEl.addEventListener('click', navClose);
        </script>
    </body>
</html>